* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #333;
  --text-color: #fafafa;
  --comp-color: #222;
}

html {
  font: 16px 'Host Grotesk', 'Noto Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
